@model ShopWatch.Models.SALE

@if (Model != null)
{
    <div>
        <!-- Hiển thị thông tin sale tùy theo mô hình SALE -->
        <p>PHANTRAMSALE: @Model.PHANTRAMSALE</p>
        <p>NGAYBATDAU: @Model.NGAYBATDAU</p>
        <p>NGAYHETHAN: @Model.NGAYHETHAN</p>
        <!-- Thêm các thông tin khác tùy thuộc vào mô hình SALE của bạn -->
    </div>
}
